body{
    background-color:salmon;
}
#navhead{
    background-color:rgba(255,255,255,0.5);
}
.card{
	padding: 5px;
	overflow: hidden;
}
.card a{
	text-decoration: none;
	color: white;
}
.card-body>h5{
	font-weight: bold;
}
.home .card img{
	height:180px;
	width:180px;
}
#songs_list{
    margin-top:10px;
}
.album_title{
	color: white;
}
.artist{
	color: white;
}
.genre_head{
	margin-top: 10px;
}
.genre_detail{
	color: white;
}
th{
	font-size: 18px;
}
td{
	font-size: 17px;
}
.foot{
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: rgba(255,255,255,0.5);
	text-align: center;
	font-size: 24px;
}
.foot-in{
	margin:2vh auto;
}
.playbutt{
	position: absolute;
	right:0;
	top:0;
	background-color: rgba(255,255,255,0.5);
	padding:8px;
}
#playstatus{
	margin:0px auto;
	height:5px;
	background-color: white;
}
#currentSong{
	float: left;
	margin:0px;
	text-align: left;
}
#currentSong img{
	margin:5px;
	height:65px;
	width: 65px;
}
ul>.song_img{
	height:40px;
	width: 40px;
}

@media (max-width:768px){
	.home.container{
		padding:8px;
		padding-right:10px;
	}
	.home .card img{
		height:160px;
		width:160px;
	}
	.playbutt{
		padding:6px;
	}
	#currentSong{
		display:none;
	}
}

@media (min-width:768px){

}







