body{
    background-color:salmon;
}
#navhead{
    background-color:rgba(255,255,255,0.5);
}
.card{
	padding: 5px;
	overflow: hidden;
}
.card a{
	text-decoration: none;
	color: white;
}
.card-body>h5{
	font-weight: bold;
}
#songs_list{
    margin-top:10px;
}
.album_title{
	color: white;
}
.artist{
	color: white;
}
.genre_head{
	margin-top: 10px;
}
.genre_detail{
	color: white;
}
th{
	font-size: 18px;
}
td{
	font-size: 17px;
}
.foot{
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: rgba(255,255,255,0.5);
	text-align: center;
	font-size: 22px;
}
.foot-in{
	margin:2vh auto;
}
.playbutt{
	position: absolute;
	right:0;
	top:0;
	background-color: rgba(255,255,255,0.5);
	padding:10px;
}












