body{
    background-color:salmon;
}
#navhead{
    background-color:rgba(255,255,255,0.5);
}
.card{
	padding: 5px;
	overflow: hidden;
}
.card a{
	text-decoration: none;
	color: white;
}
.card-body>h5{
	font-weight: bold;
	margin:0px auto;
}
